@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
.top{
    background-color: #1E1E1E;
}
.top{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#image{
    max-width: 50%;
}
.img-div{
    display: flex;
    justify-content: center;
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
    flex-direction: column;
    align-items: center;

color: #1E1E1E;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
.title{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    color: white;
}
.tribute-info{
    padding: 20px;
}
.early-life{
    width: 100%;
    display: flex;
    justify-content: center;
}
.quote{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
@media(max-width: 720px){
    .top{
       flex-direction: column;
    }
}